:root{
    --color-red: #f70411;
    --color-green: #35d106;
    --color-blue: #0a73ec;
    --color-yellow: #ecb708;
    --color-pink: #ec08d9;
    --color-purple: #9108ec;
    --color-grey: #858585;
    --color-light-grey: #DCDCDC;
    --color-superlight-grey: #EEEEEE;
    --color-black: #000;
}