.categories-carousel__wrapper{
    box-sizing: border-box;
    margin-bottom: 5rem;
}

.categories-carousel__title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.categories-carousel__title-second{
    color: var(--color-grey);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.categories-carousel__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.categories-carousel__item-wrapper{
    box-sizing: border-box;
    margin: 1rem 2.5rem;
    width: calc(100% / 10);
}

.categories-carousel__item-link{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.categories-carousel__item--title{
    text-align: center;
}

.categories__img-a::before{    
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 50%;
    content: '\ebcc';
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

.categories__img-b::before{
    align-items: center;
    background-color: var(--color-pink);
    border-radius: 50%;
    content: '\f19e';
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

.categories__img-c::before{
    align-items: center;
    background-color: var(--color-yellow);
    content: '\ea28';
    border-radius: 50%;
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

.categories__img-d::before{
    align-items: center;
    background-color: var(--color-green);
    border-radius: 50%;
    content: '\e323';
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

.categories__img-e::before{
    align-items: center;
    background-color: var(--color-red);
    border-radius: 50%;
    content: '\e552';
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

.categories__img-f::before{
    content: '\efed';
    align-items: center;
    background-color: var(--color-purple);
    border-radius: 50%;
    display: flex;
    font-size: 2.5rem;
    height: 90px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90px;
}

