.categories-banner__wrapper{
    box-sizing: border-box;
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "a1 a2 a3 a3"
        "b1 b1 b2 b3";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    margin-bottom: 1.5rem;
}

.categories-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}

.categories-banner__a1{
    background-image: linear-gradient(to bottom right, #000, #353535);
    border-radius: 30px;
    grid-area: a1;
}

.categories-banner__a2{
    background-image: linear-gradient(to bottom left, #ecb708, #ebc340);
    border-radius: 30px;
    grid-area: a2;
}

.categories-banner__a3{
    background-image: linear-gradient(to right, #dd0404, #e25a5a);
    border-radius: 30px;
    grid-area: a3;
}

.categories-banner__b1{
    background-image: linear-gradient(to bottom right, #cac9c9, #fdfbfb);
    border-radius: 30px;
    grid-area: b1;
}

.categories-banner__b2{
    background-image: linear-gradient(to bottom right, #0aeb67, #3ee785);
    border-radius: 30px;
    grid-area: b2;
}

.categories-banner__b3{
    background-image: linear-gradient(to bottom right, #0a73ec, #599ce9);
    border-radius: 30px;
    grid-area: b3;
}

.categories-banner__description--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-bottom: 1rem;
}

.categories-banner__title--main{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    opacity: .7;
    text-transform: uppercase;
}

.categories-banner__title--main-second{
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: .7;
    text-transform: uppercase;
}

.categories-banner__title--second{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.categories-banner__title--second-second{
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
}

.categories-banner__title--third{
    color: #FFF;
}

.categories-banner__img{
    height: 30%;
    position: absolute;
    transform: translate(108px, -64px);
}

.categories-banner__img--double-a3{
    height: 30%;
    position: absolute;
    transform: translate(100%, -15%);
}

.categories-banner__img--double-b1{
    height: 30%;
    position: absolute;
    transform: translate(420px, -15%);
}

.categories-banner__button{
    background-color: #FFF;
    border-radius: 30px;
    color: var(--color-red);
    font-size: .8rem;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 90px;
}

.categories-banner__button--second{    
    background-color: var(--color-red);
    border-radius: 30px;
    color: #FFF;
    font-size: .8rem;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 90px;

}