.categories-banner__wrapper{
    box-sizing: border-box;
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "a1 a2 a3 a3"
        "b1 b1 b2 b3";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1.5rem;
    width: 100%;
}

.categories-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
}

.categories-banner__a1{
    background-image: linear-gradient(to bottom right, #000, #353535);
    border-radius: 30px;
    grid-area: a1;
}

.categories-banner__a2{
    background-image: linear-gradient(to bottom left, #ecb708, #ebc340);
    border-radius: 30px;
    grid-area: a2;
}

.categories-banner__a3{
    background-image: linear-gradient(to right, #dd0404, #e25a5a);
    border-radius: 30px;
    grid-area: a3;
}

.categories-banner__b1{
    background-image: linear-gradient(to bottom right, #cac9c9, #fdfbfb);
    border-radius: 30px;
    grid-area: b1;
}

.categories-banner__b2{
    background-image: linear-gradient(to bottom right, #0aeb67, #3ee785);
    border-radius: 30px;
    grid-area: b2;
}

.categories-banner__b3{
    background-image: linear-gradient(to bottom right, #0a73ec, #599ce9);
    border-radius: 30px;
    grid-area: b3;
}

.categories-banner__img{
    align-self: flex-end;
    height: 140px;
    width: 140px;
}

.categories-banner__img--double-a{
    align-self:flex-end;
    height: 240px;
    transform: translate(-64px, 64px);
    width: 240px;
}

.categories-banner__img--double-b{
    align-self:flex-end;
    height: 180px;
    transform: translate(-64px, 64px);
    width: 180px;
}

.categories-banner__description--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.categories-banner__title--main{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    opacity: .7;
    text-transform: uppercase;
}

.categories-banner__title--main-second{
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: .7;
    text-transform: uppercase;
}

.categories-banner__title--second{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.categories-banner__title--second-second{
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
}

.categories-banner__title--third{
    color: #FFF;
}

.categories-banner__button{
    background-color: #FFF;
    border-radius: 30px;
    color: var(--color-red);
    font-size: .8rem;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 1rem 0;
    text-align: center;
    width: 140px;
}

.categories-banner__button--second{    
    background-color: var(--color-red);
    border-radius: 30px;
    color: #FFF;
    font-size: .8rem;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 1rem 0;
    text-align: center;
    width: 140px;

}

@media screen and (max-width: 1024px){
    .categories-banner__wrapper{
        gap: 1rem;
        grid-template-areas:
            "a1 a2"
            "b1 b2"
            "c1 c2";
        grid-template-columns: repeat(2, calc(50% - .5rem));
        grid-template-rows: 1fr 1fr 1fr;
    }

    .categories-banner{
        align-items: center;
        flex-direction: row;
        height: calc(100vh / 3);
        justify-content: center;
    }

    .categories-banner__a1{
        grid-area: a1;
    }
    
    .categories-banner__a2{
        grid-area: a2;
    }
    
    .categories-banner__a3{
        grid-area: b1;
    }
    
    .categories-banner__b1{
        grid-area: b2;
    }
    
    .categories-banner__b2{
        grid-area: c1;
    }
    
    .categories-banner__b3{
        grid-area: c2;
    }
    
    .categories-banner__img{
        height: 150px;
        transform: translate(0, -25px);
        width: 150px;
    }

    .categories-banner__img--double-a{
        height: 120px;
        transform: translate(0, -50px);
        width: 120px;
    }

    .categories-banner__img--double-b{/**/
        height: 120px;
        transform: translate(0, -50px);
        width: 120px;
    }

    .categories-banner__description--wrapper{
        align-items: flex-end;
        align-self: flex-end;
        height: auto;
        width: 30%;
    }

    .categories-banner__button{
        margin-top: 1.5rem;
    }

    .categories-banner__button--second{    
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 768px){
    .categories-banner__wrapper{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .categories-banner{
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 30vh;
    }
    
    .categories-banner__img{
        height: 140px;
        width: 140px;
    }
    
    .categories-banner__img--double-a{
        height: 120px;
        width: 120px;
    }
    
    .categories-banner__img--double-b{
        align-self:flex-end;
        height: 120px;
        width: 120px;
    }
    
    .categories-banner__description--wrapper{
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 1rem;
    }

    .categories-banner__title--main{
        text-align: end;
    }
    
    .categories-banner__title--main-second{
        text-align: end;
    }
    
    .categories-banner__title--second{
        text-align: end;
    }
    
    .categories-banner__title--second-second{
        text-align: end;
    }
    
    .categories-banner__title--third{
        text-align: end;
    }
    
    .categories-banner__button{
        margin-bottom: 0;
    }
    
    .categories-banner__button--second{    
        margin-bottom: 0;

    
    }
}