.header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 0 2rem;
}

.header__logo-menu-nav--wrapper{
    align-items: center;
    display: flex;
}

.header__logo--wrapper{
    align-items: center;
    display: flex;
    height: 40%;
}

.header__logo--link{
    height: 90%;
}

.header__logo--title{
    color: var(--color-red);
    font-size: 1.5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.header__logo--title-span{
    color: var(--color-grey);
}

.header__menu-nav--wrapper{
    padding: 0 2.5rem;
    width: 400px;
}

.menu-nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu-nav__item{
    cursor: pointer;
}

.menu-nav__item--link{
    color: var(--color-grey);
}

.menu-nav__item--link:active{
    color: var(--color-black);
}

.menu-nav__item--link:hover{
    color: var(--color-red);
}

.header__menu-account--wrapper{
    margin-right: 0;
    width: 180px;
}

.menu-account__list{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu-account__item{
    cursor: pointer;
}

.menu-account__item--link{
    color: var(--color-black);
}

.menu-account__item--link:hover{
    color: var(--color-red);
}

.menu-account__item--link-search::before{
    content: '\e8b6';
}

.menu-account__item--link-cart::before{
    content: '\f1cc';
}