.main-banner__wrapper{
    background-image: linear-gradient(to right, var(--color-light-grey), var(--color-superlight-grey));
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    margin-bottom: 1.5rem;
    padding: 5%;
    position: relative;
    flex-wrap: wrap;
}

.main-banner__title--wrapper{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: flex-end;
}

.main-banner__title--main{
    color: #FFF;
    font-size: 12vw;
    font-weight: 700;
    text-transform: uppercase;
}

.main-banner__title--second{
    font-size: 4.5rem;
    font-weight: 700;
}

.main-banner__title--third{
    color: #000;
    font-size: 1.5rem;
}

.main-banner__description--wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-banner__button{
    background-color: var(--color-red);
    border-radius: 30px;
    color: #FFF;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-right: 1rem;
    text-align: center;
    width: 180px;
}

.main-banner__description{
    line-height: 1.5rem;
    width: 300px;
}

.main-banner__img{
    position: absolute;
    right: 25%;
    transform: rotate(15deg);
    transform: scaleX(-1);
    top: 5%;
    width: 35%;
}

@media screen and (max-width: 768px){
    .main-banner__wrapper{
        height: 70vh;
    }

    .main-banner__description--wrapper{
        align-items: center;
    }

    .main-banner__img{
        right: 5%;
        width: 45%;
    }
}