.sale-banner__wrapper{
    height: 75vh;
    margin-bottom: 2.5rem;
}

.sale-banner__content--wrapper-a{
    align-items: center;
    background-color: var(--color-red);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    height: 60%;
    justify-content: space-around;
    opacity: .95;
    padding: 2rem;
    position: relative;
    top: 20%;
}

.sale-banner__content--wrapper-b{
    align-items: center;
    background-color: var(--color-green);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    height: 60%;
    justify-content: space-around;
    opacity: .95;
    padding: 2rem;
    position: relative;
    top: 20%;
}

.sale-banner__title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sale-banner-banner__title--main{
    color: #FFF;
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
}

.sale-banner__title--second{
    color: #FFF;
    text-transform: uppercase;
}

.sale-banner__title--third{
    color: #FFF;
}

.sale-banner__button{
    background-color: #FFF;
    border-radius: 30px;
    color: var(--color-red);
    display: block;
    height: 36px;
    line-height: 36px;
    margin-top: 2rem;
    text-align: center;
    width: 120px;
}

.sale-banner__img--a{
    height: 30vw;
    transform: translateY(-60px);    
    margin: auto;
}

.sale-banner__img--b{
    height: 30vw;
    transform: translateY(-60px);
    margin: auto;
}

.sale-banner__description-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sale-banner__description--main{
    color: #FFF;
    font-size: 3vw;
    font-weight: 700;
    margin: 1rem 0;
}

.sale-banner__description--second{
    color: #FFF;
}

.sale-banner__description--third{
    color: #FFF;
}


@media screen and (max-width: 768px){
    .sale-banner__wrapper{
        height: 75vh;
        margin-bottom: 0rem;
    }

    .sale-banner__title-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.5rem;
    }
    
    .sale-banner__button{
        width: 180px;
    }
    
    .sale-banner__img--a{
        height: 35vw;
        transform: translateY(-160px);    
        margin: auto;
        position: absolute;
    }
    
    .sale-banner__img--b{
        height: 35vw;
        transform: translateY(-160px);
        margin: auto;
        position: absolute;
    }
    
    .sale-banner__description--main{
        display: none;
    }

    .sale-banner__description--second{
        display: none;
    }

    .sale-banner__description--third{
        text-align: end;
    }
}

@media screen and (max-width: 420px){
    .sale-banner__wrapper{
        height: 40vh;
        margin-bottom: 2.5rem;
    }

    .sale-banner__content--wrapper-a{
        height: 60%;
        padding: 1rem;   
        top: 25%;       
    }
    
    .sale-banner__content--wrapper-b{
        height: 60%;
        padding: 1rem;
        top: 25%;
    }

    .sale-banner__img--a{
        height: 30vw;
        transform: translateY(-90px);    
    }
    
    .sale-banner__img--b{
        height: 30vw;
        transform: translateY(-90px);
    }
}








